@charset "utf-8";
#menu{
    display: flex;
    margin-top: -10px;
}
.menu-lista li > a{
    font-size: 22px;
    color: black;
    text-decoration: none;
    letter-spacing: 4px;
    margin-left: auto;
    align-items: right;
    position: relative;
    top: 60px;
    left: 600px;

}
.menu-lista {
    list-style: none;
    display: flex;
    
}
.logo > a{
    width: 100px;
    height: 100px;
}
.menu-social{
    list-style: none;
    display: flex;
}
.menu-social li > a{
    
    letter-spacing: 10px;
    align-items: right;
    position: relative;
    top: 50px;
    left: 600px;
}
.menu-social img{
    width: 40px;
    height: 40px;
}

.foto-sorriso{
    margin-top: 0;
    width: 100%;
    height: 400px;
    display: flex;
}
#container-a{
    background-color: #d2795b;
    height: 400px;
    width: 100%;
    color: white;
   
}
#container-a > h1{
    font-size: 40px;
}
#container-b img{
    width: 700px;
    height: 400px;
        
}
.segunda-sessão{
    margin-top: 0;
    width: 100%;
    height: 400px;
    display: flex;
}
#container-c{
    height: 400px;
    width: 100%;
    background-color: #ecebf0;
    font-size: 1em;
}
#container-d img{
    width: 700px;
    height: 400px;
}
.terceira-sessão{
    margin-top: 0;
    width: 100%;
    height: 400px;
    display: flex;
}
#container-e img{
    width: 630px;
    height: 400px;
}
#container-f{
    height: 400px;
    width: 100%;
    background-color: #d2795b;
}

.rodape{
    background-color:#ffb967;
    margin-top: 0;
    width: 100%;
    height: 400px;
    display: flex;

}