@charset "utf-8";

*{ 
    box-sizing: border-box;
}

/* *** fonts *** */
@font-face{
    font-family: bold;
    src: url('../fontes/OpenSans-Bold.ttf') format('truetype');
}
@font-face{
    font-family: boldItalic;
    src: url('../fontes/OpenSans-BoldItalic.ttf') format('truetype')
}
@font-face{
    font-family: Regular;
    src: url('../fontes/OpenSans-Regular.ttf') format('truetype');
}
@font-face{
    font-family: Light;
    src: url('../fontes/OpenSans-Light.ttf') format('truetype');
}
@font-face{
    font-family: SemiBold;
    src: url('../fontes/OpenSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: Lightitalic;
    src: url(../fontes/OpenSans-LightItalic.ttf) format('truetype');
}
/* *** /fonts *** */

/* *** generics *** */
.img-responsive{
    width: auto;
    max-width: 100%;
}
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.container::after {
    content: "";
    display: block;
    clear: both;
}

.hidden-desktop {
    display: none;
}
.hidden-mobile {
    display: block;
}
.d-none {
    display: none;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 2;
    opacity: 0.4;
    top: 0;
    left: 0;
}
/* *** /generics *** */


/* typography */
h2 {
    font-family: Regular;
}
/* /typography */


/* *** header *** */
header {
    background: #fff;
}

header .content {
    display: flex;
    justify-content: space-between;
}
header .logo > a{
    width: 100px;
    height: 100px;
}
header #menu {}

header .menu-lista { 
    margin-top: 70px;
    float: left;
}
header .menu-lista li { 
    float: left;
}
header .menu-lista li a, 
header .menu-lista li span {
    font-size: 22px;
    color: black;
    text-decoration: none;
    letter-spacing: 4px;
    font-family: Regular;
    padding: 0 8px;
}
header .menu-lista li a:hover {
    text-decoration: underline;
}
header .menu-lista {
    list-style: none;
    
}

.menu-mobile {
    width: 250px;
    height: 100vh;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    -webkit-box-shadow: 5px 0 4px 3px rgba(0,0,0,0.2);
    box-shadow: 5px 0 4px 3px rgba(0,0,0,0.2);
    border-right: 1px solid #f5f5f5;
    background: #fff;
    margin-left: -300px;
}
.menu-mobile ul {
    width: 100%;
    padding: 0;
    list-style: none;
}

.menu-mobile ul li a{
    color: blue;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 10px;
    color: #000;
}

.menu-mobile nav{
    width: 100%;
    display: block;
    margin-top: 10px;
}
.menu-mobile nav a { 
    float: left;
}
.menu-mobile nav a img { 
    max-width: 40px;
}

.menu-action {
    text-align: center;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    margin: 0 auto;
}

.menu-action span {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 3px 0;
  border-radius: 2px;
}


header .social { 
    float: left;
    text-align: right;
    width: 130px;
}
header .social .menu-social {  
    list-style: none;
    float: right;
    margin-top: 35px
}
header .social .menu-social li {
    float: left;
}

header .social .menu-social a{    
    letter-spacing: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-right: 10px;
}
header .social .menu-social .facebook {    
    background-image: url('../img/face-icon.png');
}
header .social .menu-social .instagram {    
    background-image: url('../img/insta-icon.png');
}
header .social .menu-social img{
    width: 40px;
    height: 40px;
}

header .social .icons {
    float: left;
    width: 100%;
}
header .social .icons a {
    color: #f89f77;
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
}
header .social .icons .cart {
    background-image: url('../img/cart-icon.png');
}
header .social .icons .search {
    background-image: url('../img/lupa-icon.png');
}
header .social .icons .user {
    background-image: url('../img/user-icon.png');
}
/* *** /header *** */


/* *** footer *** */
.rodape{
    float: left;    
    margin-top: 0;    
   /* width: 94%;
    height: 350px;
    display: flex;
    padding-left: 80px;*/
    display: block;
    width:100%;
}
.rodape h2{
    font-family: Regular;
    font-size: 2.0em;
    color: white;
}
.rodape h3{
    font-family: Regular;
    font-size: 20px;
    color: black;
}
.rodape p{
    font-family: Light;
    font-size: 15px;
}
.rodape .container {
    position: relative;
    padding: 3%;
    background-color:#ffb967;
}

.rodape .g-letter {
    position: absolute;
    width: 50%;
    min-height: 400px;
    bottom: 0;
    right: 0;
    background: url('../img/ge.png') no-repeat 100% 100%;
    background-size: 56%;
    opacity: 0.5;
}
.rodape .g-letter-pequeno {
    position: absolute;
    width: 40%;
    min-height: 400px;
    bottom: 0;
    right: 0;
    background: url('../img/ge.png') no-repeat 100% 100%;
    background-size: 56%;
    opacity: 0.5;
}

/* *** /footer *** */

header, section, footer, main {
    width: 100%;
    display: block;
    float: left;
    clear: both;
}


/* *** home *** */
.home-page section{    
    display: block;
    width: 100%;
}
.home-page section .block {
    float: left;
    width: 50%;
}
.home-page section .text{
    padding: 5%;
}
.home-page section .image img {
    display: block;
 }
.foto-sorriso .text {
    background-color: #f89f77;
    color: white;
    font-size: 2.0em;
    font-family: Regular;
}
.segunda-sessao .text{
    font-size: 1.5em;
    font-family: Light;
}

.segunda-sessao a{
    color: white;
    font-family: Semibold;
    font-size: 20px;
    text-decoration: none;
    background-color: #ffb967;
    padding: 2%;
    border-radius: 10px 0px 10px 0px;
}
.terceira-sessao .text {
    background-color: #d2795b;
    position: relative;
}
.terceira-sessao .text .content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 5%;
}

.terceira-sessao h2 {
    font-size: 2.0em;
    color: white;
}
.terceira-sessao h3 {
    font-family: Light;
    font-size: 20px;
}
/* *** /home *** */

main{
    font-size: 22px;
    font-family: sans-serif;
}

/*Edição Sessão Sis*/
.Sis h1{
    font-family: Regular;
    font-size: 2.0em;
    color: rgb(210, 121, 91);
}
.Sis p{
    font-family: Light;
    font-size: 20px;
    width: 70%;
    
}
.Sis h2{
    font-family: Lightitalic;
    font-size: 22px;
    float: right;
    width: 200px;
}
.One{
    width: 230px;
    height: 230px;
    border-radius: 30px 0px 0px 0px;
}
#One a{
    font-size: 14px;
    font-family: SemiBold;
    background-color: #ffb967;
    color: white;
    width: 220px;
    padding: 14px;
    border-radius: 15px 0px 15px 0px;
    margin-top: auto;
    margin-left: 100px;
    text-decoration: none;
}
#One h2{
    margin-top: 50px;
    margin-left: 300px;
    font-size: 1.5em;
    font-family: SemiBold;
    color: rgb(210, 121, 91);
    
}

#One p{
    margin-top: 10px;
    font-family: Light;
    font-size: 21px;
    width: 75%;
    float: right;
}
#Two h2{
    font-size: 1.5em;
    font-family: SemiBold;
    color: rgb(210, 121, 91);
}
#Two p{
    font-size: 20px;
    font-family: Light;
    width: 70%;
    margin-bottom: 50px;
}
#Two a{
    font-size: 14px;
    font-family: SemiBold;
    background-color: #ffb967;
    color: white;
    width: 120px;
    padding: 15px;
    border-radius: 15px 0px 15px 0px;
    float: right;
    margin-top: 300px;
    margin-right: -100px;
    text-decoration: none;
}
.Two{
    float: right;
    width: 300px;
    height: 300px;
    border-radius: 30px 0px 30px 0px;
    margin-top: 20px;
}
/* Edição Loja */
.servicos{
    padding: 5%;
    width: 100%;
    display: flex;
}
.produto{
    display: block;
    width: 100%;
}
.produto h1{
    font-family: Regular;
    font-size: 1.5em;
}
.produto h2{
    font-family: Regular;
    font-size: 1.0em;
}
.produto p{
    font-family: Light;
    font-size: 18px;
    padding-bottom: 3%;
}
.produto a{
    font-size: 20px;
    text-decoration: none;
    background-color: #f89f77;
    padding: 3%;
    color: white;
    border-radius: 10px 0px 10px 0px;
}
.produto img{
    width: 300px;
    height: 300px;
}
.loja-texto{
    width: 100%;
    padding: 5%;
    padding-bottom: 0;
}
.loja-texto h1{
    font-family: Regular;
    font-size: 2.0em;
    color: #d2795b;
}
.loja-texto p{
    font-family: Light;
    font-size: 18px;
}

/* Edição Contacto */
.contacto{
    width: 100%;
    background-color: #ffb967;
    padding: 5%;
}
.contacto h1{
font-family: Regular;
font-size: 2.0em;
color: white;
}
.contacto h2{
    font-family: Regular;
    font-size: 20px;
    color: black;
}
.contacto h4{
    font-family: Light;
    font-size: 15px;
}
.contacto p{
    font-size: 15px;
    font-family: Light;
}  
.field{
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ffb967;  
    width: 30%;
    margin-left: 10%;
}
.mensagem{
    padding: 50px;
    margin-bottom: 5px;
    border: 1px solid #292624;  
    margin-left:10%;
    
}
.botao{
    color: white;
    background-color:#ff9f48;
    border-radius: 10px 0px 10px 0px;
    padding: 10px;
    margin-left: 10%;
    border: #ff9f48 solid 1px;   
}
.contacto .g-letter {
    position: absolute;
    width: 50%;
    min-height: 400px;
    bottom: 110px;
    right: 0;
    background: url('../img/ge.png') no-repeat 100% 100%;
    background-size: 40%;
    opacity: 0.5;
    z-index: 2;
}
    


