@charset "utf-8";

/* reset */
*{ 
    box-sizing: border-box;
}
li {
    list-style: none;
}

/* *** fonts *** */
@font-face{
    font-family: bold;
    src: url('fontes/OpenSans-Bold.ttf') format('truetype');
}
@font-face{
    font-family: boldItalic;
    src: url('fontes/OpenSans-BoldItalic.ttf') format('truetype')
}
@font-face{
    font-family: Regular;
    src: url('fontes/OpenSans-Regular.ttf') format('truetype');
}
@font-face{
    font-family: Light;
    src: url('fontes/OpenSans-Light.ttf') format('truetype');
}
@font-face{
    font-family: SemiBold;
    src: url('fontes/OpenSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: Lightitalic;
    src: url('fontes/OpenSans-LightItalic.ttf') format('truetype');
}
/* sizes 
16px = 1rem 
18px = 1.125em
20px = 1.250em */
/* *** /fonts *** */

/* typography */
h1, h2, h3, h4, h5, h6 {
    font-family: Regular;
    font-weight: normal;
    line-height: 1.5;
}
p, html, body  {
    font-size: 18px;
    font-family: Light;
    line-height: 1.6;
    font-weight: normal;
}
p {
    line-height: 1.8;
}
.heading-1 {
    font-size: 2.5rem; /* ok */
}
.heading-2 {
    font-size: 2.3rem; /* ok */
}
.heading-3, .product-summary .product_title{
    font-size: 1.5rem;  /* ok */
}
.heading-4 {
    font-size: 1.4rem; /* ok */
}
.heading-5 {
    font-size: 1.3rem; /* ok */
}
.heading-6 {
    font-size: 1.1rem; /* ok */
}
.heading-7 {
    font-size: 1rem; /* ok */
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* /typography */

/* *** generics *** */
.img-responsive{
    width: auto;
    max-width: 100%;
}
.container {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 5px;
}
.container::after {
    content: "";
    display: block;
    clear: both;
}

.hidden-desktop {
    display: none;
}
.hidden-mobile {
    display: block;
}
.d-none {
    display: none;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 2;
    opacity: 0.4;
    top: 0;
    left: 0;
}
.nav-social i {
    font-size: 24px;
    color: #d2795b;
    margin-right: 10px;
}
.nav-social .fa-facebook-f {
    font-size: 21px;
}
.btn-gs {
    color: white;
    font-family: Semibold;
    font-size: 1.1rem;
    text-decoration: none;
    background-color: #ffb967;
    padding: 8px 18px;
    border-radius: 16px 0px 16px 0px;
}
/* *** /generics *** */

/* *** forms *** */
.search-field {
    width: 100%;
    display: flex;
    padding: 5px;
    border: 1px solid #ddd;
}
.search-field .prepend-icon {
    width: 30px;
    height: 30px;
}
.search-field .prepend-icon i{
    margin-top: 13px;
    margin-left: 4px;
    font-size: 1.2rem;
}
.search .field {
    display: inline-block;
    height: 28px;
    width: 100%;
    background: #f5f5f5;
    outline: 0 none;
    border: 0;    
}
.search .field.focus {
    background: #f89f77;  
}
/* *** /forms *** */


/* *** header *** */
/* ****** header desktop  *** */
header {
    background: #fff;
    height: 230px;
}

header .content-desktop {
    display: flex;
    justify-content: space-between;
}
header .logo a{
    margin-left: -103px;
}
header #menu {
    float: left;
    min-width: 200px;
}

header .menu-lista { 
    margin-top: 110px;
    float: left;
    padding-left: 0;
}
header .menu-lista li { 
    float: left;
    position: relative;
}
header .menu-lista li::after { 
    position: absolute;
    content: '|';
    display: inline-block;

    font-size: 22px;
    color: black;
    font-family: Regular;
    left: 6px;
}
header .menu-lista li:first-child::after { 
    display: none;
}
header .menu-lista li a { 
    margin-left: 24px;
}
header .menu-lista li a, 
header .menu-lista li span {
    font-size: 22px;
    color: black;
    text-decoration: none;
    letter-spacing: 0;
    font-family: Regular;
    padding: 0 8px;
}
header .menu-lista li a:hover {
    text-decoration: underline;
}
header .menu-lista {
    list-style: none;
    
}

/* estilo apenas para o html */
.g-html .aws-container .aws-search-form {
    position: relative;
    width: 100%;
    float: none !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    align-items: stretch;
    height: 44px;
}
.g-html .aws-container .aws-search-form *, .aws-search-result {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-hyphens: manual;
    -webkit-hyphens: manual;
    hyphens: manual;
    border-radius: 0 !important;
}
.g-html .aws-container .aws-search-form .aws-wrapper {
    flex-grow: 1;
    position: relative;
    vertical-align: top;
    padding: 0;
    width: 100%;
}
.g-html .aws-container .aws-search-field {
    width: 100%;
    max-width: 100%;
    color: #313131;
    padding: 6px;
    line-height: 30px;
    display: block;
    font-size: 12px;
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    height: 100%;
    margin: 0 !important;
    border: 1px solid #d8d8d8;
    outline: 0;
}
.g-html .aws-container .aws-show-clear .aws-search-field {
    padding-right: 40px;
}
.g-html .aws-container .aws-search-form .aws-search-clear {
    display: none !important;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    color: #757575;
    height: 100%;
    width: 38px;
    padding: 0 0 0 10px;
    text-align: left;
}
.g-html .aws-container .aws-search-form.aws-show-clear.aws-form-active .aws-search-clear {
    display: block !important;
}
.g-html .aws-container .aws-search-form .aws-search-clear span {
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 24px;
    top: 50%;
    margin-top: -12px;
}
/* /estilo apenas para o html */


header .gsearchfield {
    float: left;
    position: relative;
    margin-top: 100px;
    height: 50px;
    width: 100%;
    display: none;
}
header .gsearchfield .widgettitle, 
.aws_search_more {
    display: none !important;
}
.aws-search-result .aws_result_title {
    color: #d2795b;
}
header .gsearchfield .close{
    position: absolute;
    top: -6px;
    left: -26px;
}
header .gsearchfield .close i{
    color: #999;
    cursor: pointer;
}
header .gsearchfield .aws-search-form {
    position: absolute;
    top: 0 ;
    right: 0;
}
header .gsearchfield .aws-search-form .aws-search-label {
    display: none;
}

header .gsearchfield .aws-container .aws-show-clear .aws-search-field {
    padding-right: 5px;
}

header .social { 
    float: left;
    text-align: right;
    width: 130px;
}
header .content-desktop .nav-social {  
    float: right;
    margin-top: 65px;
    margin-bottom: 20px;
}

header .icons {
    float: left;
    width: 100%;
}
header  .icons a {
    color: #f89f77;
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
}
header  .icons .cart {
    background-image: url('img/cart-icon.png');
    position: relative;
}
header  .icons .cart .cart-contents-count {
    top: -15px;
    right: -3px;
    font-size: 10px;
    background: #333;
    color: #fff;
    border-radius: 50%;
    padding: 0 2px;
    position: absolute;
    min-width: 12px;
    text-align: center;
}

header  .icons .search {
    background-image: url('img/lupa-icon.png');
}
header  .icons .user {
    background-image: url('img/user-icon.png');
}
/* ****** /header desktop  *** */
/* ****** header mobile  *** */
header .content-mobile .cols {
    display: flex;
    justify-content: space-between;
}
header .content-mobile .cols .menu-action {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .content-mobile .cols .menu-action i{
    font-size: 24px;
}
header .content-mobile .cols .icons {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .content-mobile .cols .icons a {
    margin-right: 0;
}
header .content-mobile {
    display: none;
}


.content-mobile .action-bar {
    background:#f5f5f5;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}
.content-mobile .action-bar .nav-social {
    margin-top: 6px;
}
.content-mobile.action-bar .nav-social i {
    margin-left: 10px;
    margin-right: 5px;
}
.content-mobile .action-bar .nav-social .fa-facebook-f {
    font-size: 19px;
}
.content-mobile .action-bar .nav-social .fa-instagram {
    font-size: 22px;
}
.content-mobile .action-bar .close {
    position: relative;
}
.content-mobile .action-bar .close i {
    font-size: 1.5rem;
    color: #fff;
}
.content-mobile .boxes {
    width: 250px;
    height: 100vh;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    -webkit-box-shadow: -5px 0 4px 3px rgba(0,0,0,0.2);
    box-shadow: -5px 0 4px 3px rgba(0,0,0,0.2);
    border-right: 1px solid #f5f5f5;
    background: #fff;
    margin-right: -300px;
}
.logged-in  .content-mobile .boxes {
    top: 30px;
}
.content-mobile .boxes .action-bar {
    justify-content: flex-start;
}
header .boxes_ {
    display: flex;
}
header .boxes_  .box{
    width: 250px;
    height: 100vh;
    position: fixed;
    z-index: 3;
    top: 0;
    -webkit-box-shadow: -5px 0 4px 3px rgba(0,0,0,0.2);
    box-shadow: -5px 0 4px 3px rgba(0,0,0,0.2);
    border-right: 1px solid #f5f5f5;
    background: #fff;
}
header .boxes_  .box.left{
    -webkit-box-shadow: 5px 0 4px 3px rgba(0,0,0,0.2);
    box-shadow: 5px 0 4px 3px rgba(0,0,0,0.2);
    left: 0;
    margin-left: -300px;
}
.boxes_  .box.left nav{
    width: 100%;
    display: block;
    margin-top: 11px;
    margin-left: 10px;
    text-align: right;
}
.boxes_  .box.left .close{
    position: relative;
}
.boxes_  .box.left .close i {
    position: absolute;
    top: 10px;
    left: 10px;
}
header .boxes_  .box.leftnav a { 
    float: left;
}
header .boxes_  .box.left nav a img { 
    max-width: 40px;
}
header .boxes_  .box.left ul {
    width: 100%;
    padding: 0;
    list-style: none;
}

header .boxes_  .box.left ul li a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 10px;
    color: #000;
}
header .boxes_  .box.right{
    -webkit-box-shadow: -5px 0 4px 3px rgba(0,0,0,0.2);
    box-shadow: -5px 0 4px 3px rgba(0,0,0,0.2);
    right: 0;
    margin-right: -300px;
}
header .boxes_  .box.right .action-bar {
    justify-content: start;;
}
header .boxes_  .box.right .close i {
    top: 10px;
    left: -25px;
    position: absolute;
}
header .boxes_  .box.right .title, .boxes_  .box.right .content{
    text-align: center;
}
/* ****** /header mobile  *** */
/* *** /header *** */


/* *** footer *** */
.rodape{
    float: left;    
    margin-top: 0;    
   /* width: 94%;
    height: 350px;
    display: flex;
    padding-left: 80px;*/
    background-color:#ffb967;
    display: block;
    width:100%;
}
.page-template-contato .rodape{
    margin-top: 80px;
}
.rodape .menu-footer-menu-container {
    position: relative;
    min-height: 20px;
}
.rodape #menu-footer-menu{
    display: inline-flex;
    padding-left: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    z-index: 2;
}

.rodape #menu-footer-menu li a {
    font-size: 1rem;
}

.rodape #menu-footer-menu .menu-item{
    margin-right: 30px;
    position: relative;
}
.rodape #menu-footer-menu .menu-item::after{
    content: '|';
    width: 1px;
    position: absolute;
    top: 0;
    right: -10px;
}
.rodape #menu-footer-menu .menu-item:last-child::after{
    opacity: 0;
}

.rodape h2{
    font-family: Regular;
    color: white;
    margin-bottom: 0;
    margin-top: 20px;
}
.rodape h3{
    font-family: Regular;
    color: black;
    margin-top: 10px;
    margin-bottom: 0;
    
}
.rodape p{
    font-family: Light;
}
.rodape nav a{
    font-family: SemiBold;
}
.rodape .container {
    position: relative;
    padding: 3% 0;
}
.rodape.rodape-gs .container {
    background-color:#ffb967;
}

.rodape .g-letter {
    position: absolute;
    width: 50%;
    min-height: 400px;
    bottom: 0;
    right: 0;
    background: url('img/ge.png') no-repeat 100% 100%;
    background-size: 70%;
    opacity: 0.5;
}
.rodape.rodape-gs .g-letter-pequeno {
    position: absolute;
    width: 40%;
    min-height: 400px;
    bottom: 0;
    right: 0;
    background: url('img/ge.png') no-repeat 100% 100%;
    background-size: 56%;
    opacity: 0.5;
}

/* *** /footer *** */

header, section, footer, main {
    width: 100%;
    display: block;
    float: left;
    clear: both;
}


/* *** home *** */
.page-template-home-template section{    
    display: block;
    width: 100%;
}
.page-template-home-template section .block {
    float: left;
    width: 50%;
}
.page-template-home-template section .text{
    position: relative;
}

.page-template-home-template section .text .inner {
    width: 100%;
    max-width: 762px;
    padding: 5% 0;
    display: flex;
    align-items: center;
}
.page-template-home-template section .text.right .inner {
    float: left;
}
.page-template-home-template section .text.left .inner{
    float: right;
    justify-content: flex-end;
}
.page-template-home-template section .text .inner article{
    width: 100%;
    max-width: 640px;
}
.page-template-home-template section .text.left .inner article{
    float: right;
}
.page-template-home-template section .text.right .inner article{
    float: left;
    padding-left: 92px;
}
.page-template-home-template section .text .inner article h2{
    margin-top: 0;
    margin-bottom: 0;
}
.page-template-home-template section .text .inner article h3{
    margin-top: 0.5rem;
}
 .page-template-home-template section .image .inner{
    width: 100%;
    max-width: 762px;
 }
 .page-template-home-template section .image.left .inner{
    float: right;
 }
.page-template-home-template section .image img {
    display: block;
    /* width: 762px; */
 }
.foto-sorriso {
    background-color: #f89f77;
}
.foto-sorriso .text h2 {
    color: white;
    font-family: Light;
}
.segunda-sessao .text p{
    font-family: Light;
}
.segunda-sessao .btn-gs{
    margin-top: 5px;
    float: left;
}
.terceira-sessao {
    background-color: #d2795b;
}
.terceira-sessao .right {
    float: right !important;
}
.terceira-sessao .left {
    float: left;
}
.terceira-sessao .text {
    position: relative;
}
.terceira-sessao .text .inner {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 5%;
}

.terceira-sessao h2 {
    color: white;
}
.terceira-sessao h3 {
    font-family: Light;
}
/* *** /home *** */

main{
    font-size: 22px;
    font-family: sans-serif;
}

/*Edição Sessão Sis*/

.sis-page main .boxes {}
.sis-page main  .box,
.page-template-sis-template main  .box {
    float: left;
}
.sis-page main  .box.left,
.page-template-sis-template main  .box.left {
    width: 73%;
}
.sis-page main .box.left em,
.page-template-sis-template main .box.left em{
    font-weight: bolder;
    font-family: Light;
}
.sis-page main  .box.right,
.page-template-sis-template main  .box.right {
    width: 27%;
}
.sis-page main  .boxes.reverse .box.left,
.page-template-sis-template main  .boxes.reverse .box.left {
    width: 27%;
    float: left;
}
.sis-page main  .boxes.reverse  .box.right,
.page-template-sis-template main  .boxes.reverse  .box.right {
    width: 73%;
    float: right;
}
.sis-page main  .box.right,
.page-template-sis-template main  .box.right {
    display: flex;
    justify-content: center;
}
.sis-page main  .box.right h2,
.page-template-sis-template main  .box.right h2 {
    color: #d2795b;
    font-family: Lightitalic;
    display: block;
    font-size: 1.8rem;
}
.sis-page .Sis p,
.page-template-sis-template .Sis p{
    line-height: 1.8;
}

.sis-page .One,
.page-template-sis-template .One {
    margin-top: 3rem;
}
.sis-page .One p,
.page-template-sis-template .One p{
    line-height: 1.8;
    margin-top: 0;
}
.sis-page .One p strong,
.page-template-sis-template .One p strong{
    color: #d2795b;
    font-family: Regular;
}

.sis-page main  .boxes .box figure,
.page-template-sis-template main  .boxes .box figure {
    width: 100%;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}
.sis-page main  .boxes .box img,
.page-template-sis-template main  .boxes .box img {
    border-radius: 25px 0px;
    margin-top: 5%;
}
.sis-page main  .boxes .box  .btn-gs,
.page-template-sis-template main  .boxes .box  .btn-gs {
    position: absolute;
    bottom: -10px;
    left: -25px;
    right: auto;
    text-align: center;
}
.sis-page main .boxes.reverse .box  .btn-gs,
.page-template-sis-template main .boxes.reverse .box  .btn-gs {
    bottom: -15px;
    right: -25px;
    left: auto;
    text-align: center;
}
.Sis h2{
    color: rgb(210, 121, 91);
    margin-top: 0;
    margin-bottom: 0;
}

.Sis h3{
    font-family: Lightitalic;
    font-size: 22px;
    float: right;
}
.sis-page .Two,
.page-template-sis-template .Two {
    margin-top: 3rem;
    padding-bottom: 2%;
}
.sis-page .Two p,
.page-template-sis-template .Two p{
    margin-right: 5%;
    line-height: 1.8;    
}
.sis-page .Two p strong,
.page-template-sis-template .Two p strong{
    color: #d2795b;
    font-family: Regular;  
}

/* Edição Loja */

.woocommerce-shop .woocommerce .orderby, .woocommerce-shop .woocommerce .woocommerce-result-count{
    display: none;
}
.woocommerce-shop  .servicos{
    padding: 5% 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.woocommerce-shop {
    position: relative;
}
.woocommerce-shop  .products .product{
    position: relative;
    text-align: left;
    display: block;
    width: 100%;
    margin-right: 0;
}

.servicos .products .button{
    margin-top: 0 !important;
}

.servicos .products .box-product{
    min-height: 600px;
}
.woocommerce-shop  .products li.line {
    min-height: 200px;
    padding: 0 30px;
}
.woocommerce-shop  .products li.line::after {
    content: '';
    height: 750px;
    width: 1px;
    border-right: 1px solid #a5a5a5;
    display: inline-block;
}

.woocommerce-shop  .products .product .woocommerce-LoopProduct-link{
    width: 100%;
    display: inline-block;
}
.woocommerce ul.products li.product .woocommerce-LoopProduct-link img{
    width: 100%;
    height: auto;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title{
    font-family: Regular;
    font-size: 1.4rem;
    min-height: 50px;
    margin-bottom: 0;
}

.woocommerce ul.products li.product .price, .woocommerce div.product p.price, .woocommerce div.product span.price{
    color: black !important;
    font-family: Regular;
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding:0;
    line-height: 1;
}
.woocommerce div.product p.price{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.woocommerce ul.products li.product .price::after, .woocommerce div.product p.price::after{
    content: 'EUR';
    position: absolute;
    left: 0;
    right: 0;
    display: contents;
    color: black;
    font-family: Regular;
    font-size: 1.0em;
}
.woocommerce-shop  .product p{
    font-family: Light;
    font-size: 18px;
    padding-bottom: 3%;
}


.woocommerce-shop  .loja-texto{
    width: 100%;
    padding: 5% 0;
    padding-bottom: 0;
    text-align: left;
}
.woocommerce-shop  .rodape{
    text-align: left;
}
.loja-texto h1, .product-summary .product_title{
    font-family: Regular;
    font-size: 2.0em;
    color: #d2795b;
}
.loja-texto h1, .product-summary .woocommerce-Price-amount{
    color: black !important;
}
.woocommerce div.product .product-summary p.price{
    margin-bottom: 1rem !important;
}
.loja-texto p{
    font-family: Light;
    font-size: 1.2rem;
}
.woocommerce ul.products li.product .add_to_cart_button,
.btn-comprar, .woocommerce button.button.alt, .woocommerce #review_form #respond input.submit{
    color: white;
    font-family: Semibold;
    font-size: 1rem;
    text-decoration: none;
    background-color: #d2795b;
    padding: 12px 22px;
    border-radius: 16px 0px 16px 0px;
    width: auto;
    margin-top: 20px;
}
.woocommerce-shop  .woocommerce {
    margin-bottom: 100px;
}
.woocommerce-shop  .woocommerce .products{
    padding-left: 0;
    display: flex;
}
.woocommerce-shop  .woocommerce .products .product{
    margin-right: 0;
    min-height: 730px;
}
.woocommerce-shop  .woocommerce .products .product a {
    width: 100%;
    display: inline-block;
}
.woocommerce-shop  .woocommerce .products .product img{
  width: auto;
  max-width: 100%;
}

/* Edição Contacto */
.page-template-contato {
    background-color: #ffb967;
}
.contacto{
    width: 100%;
    padding: 5% 0;
}
.contacto h1{
color: white;
}
.contacto h2{
    font-family: Regular;
    font-size: 20px;
    color: black;
}
.contacto h4{
    font-family: Light;
    font-size: 15px;
}
.contacto p{
    font-size: 15px;
    font-family: Light;
}  

.contacto {
    position: relative;
    
}
.contacto form {
    width: 40%;
    float: left;
}
.contacto form .form-field {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.contacto form .form-field label {
    float: left;
    display: inline-block;
    width: 20%;
    font-size: 1rem;
    font-family: Light;
    padding-top: 10px;
}
.contacto form .form-field .input {
    float: left;
    display: inline-block;
    width: 80%;
}
.contacto form .form-field input[type="text"],
.contacto form .form-field input[type="email"],
.contacto form .form-field textarea {
    width: 100%;
    border: 0;
    height: 35px;
    padding: 5px;
    color: #333;
    font-size: 1rem;
    outline: 0 none;
}
.contacto form .form-field textarea {
    height: 150px;
}
.contacto form .botão,
.contacto form .wpcf7-submit{
    color: white !important;
    background-color:#ff9f48;
    border-radius: 30% 0px 30% 0px;
    padding: 15px 18px;
    border: #ff9f48 solid 1px;
    width: auto !important;
    margin-left: 20%;
    font-size: 1.2rem;
    height: auto !important;
    border: 0 !important;
}
.contacto .field{
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ffb967;  
    width: 30%;
    margin-left: 10%;
}
.mensagem{
    padding: 50px;
    margin-bottom: 5px;
    border: 1px solid #292624;  
    margin-left:10%;
    
}

.contacto .g-letter-top {
    position: absolute;
    width: 50%;
    min-height: 480px;
    top: 0;
    right: 0;
    background: url('img/ge.png') no-repeat 100% 0;
    background-size: 50%;
    opacity: 0.5;
    z-index: 2;
}

.page-template-contato .wpcf7 form .wpcf7-response-output {
    float: left;
    font-size: 0.8rem;
    background: #d2795b;
    color: #fff;
    margin-left: 20%;
}

.page-template-contato footer .g-letter-pequeno,
.page-template-contato footer .g-letter {
    display:  none;
}

.page-template-contato .bg {
    background-color: #ffb967;
    max-width: 1524px;
    margin: 0 auto;
}

/* woocomerce */
.woocommerce a {
    color: #000;
}
/* pagina carrinho */

.woocommerce-cart .woocommerce #content table.cart td.actions .coupon {

}

/* pagina minha conta */

.page-template-my-account .woocommerce{
    min-height: 500px;
    padding-top: 130px;
    float: left;
}
.page-template-my-account .woocommerce .woocommerce-MyAccount-navigation{
    width: 30%;
    float: left;

}
.page-template-my-account .woocommerce .woocommerce-MyAccount-content{
    width: 100%;
    float: left;
}

.page-template-docs-template .heading{
    padding: 2rem 0;
    border-bottom: 1px solid #ddd;
}
.page-template-docs-template .heading h2{
    font-size: 3rem;
}
.page-template-docs-template .block{
    margin-bottom: 2rem;
    padding: 0.5rem;
}
.page-template-docs-template .block h3{
    font-size: 2rem;
}

.page-template-docs-template .highlight{
    background-color: #f4f4f4;
}

/* carrossel vertical */
@media only screen and (min-width: 570px) {
    .single-product div.product .woocommerce-product-gallery .flex-viewport {
        width: 75%;
        float: right;
    }
     
    .single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
        width: 25%;
        float: left;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
    } 
    .single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
        width: 100% !important;
        margin-bottom: 0 !important;
    }
    .single-product div.product .woocommerce-product-gallery .flex-control-thumbs li .flex-active{
        margin-bottom: 0 !important;
    }  
    .single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
        width: 90%;
        opacity: 1 !important;
        margin-bottom: 28px !important;
    }
}

/* produtos relacionados */
.woocommerce-tabs.wc-tabs-wrapper,
.related.products {
    display: none !important;
}

/* minh conta */
.page-template-my-account .woocommerce .woocommerce-MyAccount-navigation {
    width: 100%;
    float: left;
    background: #f5f5f5;
    padding: 10px;
    margin-right: 3%;
}
.page-template-my-account .woocommerce .woocommerce-MyAccount-navigation ul {
    padding-left: 0;
}
.page-template-my-account .woocommerce .woocommerce-MyAccount-navigation ul li {
    margin-bottom: 20px;
}
.page-template-my-account .woocommerce .woocommerce-MyAccount-navigation ul li a {
    text-decoration: underline;
}
/* carrinho */
.woocommerce .checkout-button,
.woocommerce .single_add_to_cart_button {
    background-color: #d2795b!important;
}
.woocommerce .checkout-button:hover,
.woocommerce .single_add_to_cart_button:hover {
    background-color: #b76145!important;
}

.woocommerce-message {
    border-top-color: #d2795b!important;
}
.woocommerce-message::before {
    color: #d2795b!important;
}



/* *** PDP página do produto *** */

.product-summary{
    width: 50%;
    float: left;
}

.product-summary div.summary{
    width: 100% !important;
    padding-left: 2rem;
}
.product-summary .product_title{
    line-height: 0.8;
}
.product-template-default > header {
    float: none !important;
}

.single-product .product{
    width: 100%;
    float: left;
}
.single-product .product .woocommerce-product-gallery{
    width: 50% !important;
    float: left;
}
.woocommerce-product-gallery__wrapper{
    width: 100%;
    position: relative;
    float: left;
}
.woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:first-child{
    width: 77%;
}
.woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:first-child a{
    width: 100% !important;
    float: right !important;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2){
    width: 22%;
    float: left;
    margin-bottom: 27px;
}
.woocommerce div.product div.images a{
    width: 100%;
    float: left;
}
.woocommerce-product-gallery{
    float: left;
}
.woocommerce-product-gallery__image{
    float: right;
    left: 5px;
}
.woocommerce div.product form.cart div.quantity{
    float: none;
    position: relative;
    font-size: 0.9rem;
    margin-top: 35px;
}
.woocommerce div.product form.cart div.quantity::before{
    position: absolute;
    content: 'Quantidade';
    display: inline-block;
    left: 0;
    bottom: 33px;
}
.woocommerce div.product form.cart div.quantity .qty {
    width: 40px;
    margin-left: 24px;
    outline: 0 none;
    border-color: #9b9b9b;
    border: 1px solid #9b9b9b;
    height: 26px;
}
.woocommerce div.product form.cart div.quantity ~ div{
    position: relative;
}
.woocommerce div.product form.cart div.quantity ~ div button{
    position: absolute;
    top: -26px;
    border: 1px solid #9b9b9b;
    outline: 0 none;
    background: #fff;
    text-align: center;
    width: 25px;
    height: 26px;
    cursor: pointer;
}
/* rmove arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.woocommerce div.product form.cart div.quantity ~ div button:hover {
    box-shadow: none;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    transform: scale(1);
}
.woocommerce div.product form.cart div.quantity ~ div .minus {
    left: 0;
}

.woocommerce div.product form.cart div.quantity ~ div .plus {
    left: 62px;
}

/* read more */

.description-title h2{
    margin-bottom: 0;
}
.text-content-short .load-more, .text-content-short .recolher{
    color: #d2795b;;
}
.woocommerce div.product .text-content {
    display: none;
}

.woocommerce div.product form.cart .button:hover{
    background-color: #d2795b;
}

.woocommerce-Reviews{
    padding: 1%;
}
/* reviews */
.woocommerce  #reviews #comments ol.commentlist {
    padding-left: 0;
}
.woocommerce #reviews #comments h2 {
    font-size: 1rem;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p {
    font-size: 0.9rem;
}
.woocommerce #review_form #respond span {
    font-size: 0.9rem;
}
.woocommerce #review_form #respond textarea {
    border: 1px solid #ddd;
}
.woocommerce-Reviews .stars a, .woocommerce .star-rating{
    color: #d2795b;
}
.woocommerce-product-rating{
    margin-bottom: 0 !important;
}

.product .flex-active{
    display: none !important;
}
.woocommerce-Reviews label{
    width: 100% !important;
    float: left;
}
.woocommerce-Reviews textarea{
    width: 300px  !important;
}
.woo-single-excerpt .woocommerce-product-details__short-description{
    display: block !important;
}
.woo-single-excerpt .woocommerce-product-details__short-description p{
    margin-top: 0;
}
.woocommerce-product-details__short-description{
    display: none;
}