@charset "utf-8";

/* resets */
*{ 
    box-sizing: border-box;
}
li {
    list-style: none;
}

/* *** fonts *** */
@font-face{
    font-family: bold;
    src: url('../fontes/OpenSans-Bold.ttf') format('truetype');
}
@font-face{
    font-family: boldItalic;
    src: url('../fontes/OpenSans-BoldItalic.ttf') format('truetype')
}
@font-face{
    font-family: Regular;
    src: url('../fontes/OpenSans-Regular.ttf') format('truetype');
}
@font-face{
    font-family: Light;
    src: url('../fontes/OpenSans-Light.ttf') format('truetype');
}
@font-face{
    font-family: SemiBold;
    src: url('../fontes/OpenSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: Lightitalic;
    src: url(../fontes/OpenSans-LightItalic.ttf) format('truetype');
}
/* sizes 
16px = 1rem 
18px = 1.125em
20px = 1.250em */
/* *** /fonts *** */

/* typography */
h1, h2, h3, h4, h5, h6 {
    font-family: Regular;
    font-weight: normal;
}
p, html, body  {
    font-size: 16px;
    font-family: Light;
    line-height: 1.6;
    font-weight: normal;
}
.heading-2 {
    font-size: 3rem;
}
.heading-3 {
    font-size: 2rem;
}
.heading-4 {
    font-size: 1.7rem;
}
.heading-5 {
    font-size: 1.5rem;
}
.heading-6 {
    font-size: 1.3rem;
}
.heading-7 {
    font-size: 1rem;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* /typography */

/* *** generics *** */
.img-responsive{
    width: auto;
    max-width: 100%;
}
.container {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 5px;
}
.container::after {
    content: "";
    display: block;
    clear: both;
}

.hidden-desktop {
    display: none;
}
.hidden-mobile {
    display: block;
}
.d-none {
    display: none;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 2;
    opacity: 0.4;
    top: 0;
    left: 0;
}
.nav-social i {
    font-size: 24px;
    color: #d2795b;
    margin-right: 10px;
}
.nav-social .fa-facebook-f {
    font-size: 21px;
}
.btn-gs {
    color: white;
    font-family: Semibold;
    font-size: 1.3rem;
    text-decoration: none;
    background-color: #ffb967;
    padding: 3%;
    border-radius: 16px 0px 16px 0px;
}
/* *** /generics *** */

/* *** forms *** */
.search-field {
    width: 100%;
    display: flex;
    padding: 5px;
    border: 1px solid #ddd;
}
.search-field .prepend-icon {
    width: 30px;
    height: 30px;
}
.search-field .prepend-icon i{
    margin-top: 5px;
    margin-left: 4px;
}
.search .field {
    display: inline-block;
    height: 28px;
    width: 100%;
    background: #f5f5f5;
    outline: 0 none;
    border: 0;    
}
.search .field.focus {
    background: #f89f77;  
}
/* *** /forms *** */


/* *** header *** */
/* ****** header desktop  *** */
header {
    background: #fff;
    height: 230px;
}

header .content-desktop {
    display: flex;
    justify-content: space-between;
}
header .logo a{
    margin-left: -103px;
}
header #menu {
    float: left;
}

header .menu-lista { 
    margin-top: 110px;
    float: left;
    padding-left: 0;
}
header .menu-lista li { 
    float: left;
}
header .menu-lista li a, 
header .menu-lista li span {
    font-size: 22px;
    color: black;
    text-decoration: none;
    letter-spacing: 4px;
    font-family: Regular;
    padding: 0 8px;
}
header .menu-lista li a:hover {
    text-decoration: underline;
}
header .menu-lista {
    list-style: none;
    
}

header .social { 
    float: left;
    text-align: right;
    width: 130px;
}
header .content-desktop .nav-social {  
    float: right;
    margin-top: 65px;
    margin-bottom: 20px;
}

header .icons {
    float: left;
    width: 100%;
}
header  .icons a {
    color: #f89f77;
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
}
header  .icons .cart {
    background-image: url('../img/cart-icon.png');
}
header  .icons .search {
    background-image: url('../img/lupa-icon.png');
}
header  .icons .user {
    background-image: url('../img/user-icon.png');
}
/* ****** /header desktop  *** */
/* ****** header mobile  *** */
header .content-mobile .cols {
    display: flex;
    justify-content: space-between;
}
header .content-mobile .cols .menu-action {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .content-mobile .cols .menu-action i{
    font-size: 24px;
}
header .content-mobile .cols .icons {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .content-mobile .cols .icons a {
    margin-right: 0;
}
header .content-mobile {
    display: none;
}


.content-mobile .action-bar {
    background:#f5f5f5;
    display: flex;
    justify-content: flex-end;
}
.content-mobile .action-bar .nav-social {
    margin-top: 6px;
}
.content-mobile.action-bar .nav-social i {
    margin-left: 10px;
    margin-right: 5px;
}
.content-mobile .action-bar .nav-social .fa-facebook-f {
    font-size: 19px;
}
.content-mobile .action-bar .nav-social .fa-instagram {
    font-size: 22px;
}
.content-mobile .action-bar .close i {
    margin: 10px;
}

.content-mobile .boxes {
    width: 250px;
    height: 100vh;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    -webkit-box-shadow: -5px 0 4px 3px rgba(0,0,0,0.2);
    box-shadow: -5px 0 4px 3px rgba(0,0,0,0.2);
    border-right: 1px solid #f5f5f5;
    background: #fff;
    margin-right: -300px;
}
.logged-in  .content-mobile .boxes {
    top: 30px;
}
.content-mobile .boxes .action-bar {
    justify-content: flex-start;
}

.boxes_ {
    display: flex;
}
.boxes_  .box{
    width: 250px;
    height: 100vh;
    position: fixed;
    z-index: 3;
    top: 0;
    -webkit-box-shadow: -5px 0 4px 3px rgba(0,0,0,0.2);
    box-shadow: -5px 0 4px 3px rgba(0,0,0,0.2);
    border-right: 1px solid #f5f5f5;
    background: #fff;
}
.boxes_  .box.left{
    -webkit-box-shadow: 5px 0 4px 3px rgba(0,0,0,0.2);
    box-shadow: 5px 0 4px 3px rgba(0,0,0,0.2);
    left: 0;
    margin-left: -300px;
}
.boxes_  .box.left nav{
    width: 100%;
    display: block;
    margin-top: 7px;
    margin-left: 10px;
}
.boxes_  .box.leftnav a { 
    float: left;
}
.boxes_  .box.left nav a img { 
    max-width: 40px;
}
.boxes_  .box.left ul {
    width: 100%;
    padding: 0;
    list-style: none;
}

.boxes_  .box.left ul li a{
    color: blue;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 10px;
    color: #000;
}
.boxes_  .box.right{
    -webkit-box-shadow: -5px 0 4px 3px rgba(0,0,0,0.2);
    box-shadow: -5px 0 4px 3px rgba(0,0,0,0.2);
    right: 0;
    margin-right: -300px;
}
.boxes_  .box.right .title, .boxes_  .box.right .content{
    text-align: center;
}
/* ****** /header mobile  *** */
/* *** /header *** */


/* *** footer *** */
.rodape{
    float: left;    
    margin-top: 0;    
   /* width: 94%;
    height: 350px;
    display: flex;
    padding-left: 80px;*/
    background-color:#ffb967;
    display: block;
    width:100%;
}
.rodape h2{
    font-family: Regular;
    color: white;
    margin-bottom: 0;
    margin-top: 20px;
}
.rodape h3{
    font-family: Regular;
    color: black;
    margin-top: 10px;
    margin-bottom: 0;
    
}
.rodape p{
    font-family: Light;
}
.rodape nav a{
    font-family: Light;
}
.rodape .container {
    position: relative;
    padding: 3% 0;
}
.rodape.rodape-gs .container {
    background-color:#ffb967;
}

.rodape .g-letter {
    position: absolute;
    width: 50%;
    min-height: 400px;
    bottom: 0;
    right: 0;
    background: url('../img/ge.png') no-repeat 100% 100%;
    background-size: 66%;
    opacity: 0.5;
}
.rodape.rodape-gs .g-letter-pequeno {
    position: absolute;
    width: 40%;
    min-height: 400px;
    bottom: 0;
    right: 0;
    background: url('../img/ge.png') no-repeat 100% 100%;
    background-size: 56%;
    opacity: 0.5;
}

/* *** /footer *** */

header, section, footer, main {
    width: 100%;
    display: block;
    float: left;
    clear: both;
}


/* *** home *** */
.page-template-home-template section{    
    display: block;
    width: 100%;
}
.page-template-home-template section .block {
    float: left;
    width: 50%;
}
.page-template-home-template section .text{
    position: relative;
}

.page-template-home-template section .text .inner {
    width: 100%;
    max-width: 762px;
    padding: 5% 0;
    display: flex;
    align-items: center;
}
.page-template-home-template section .text.right .inner {
    float: left;
}
.page-template-home-template section .text.left .inner{
    float: right;
    justify-content: flex-end;
}
.page-template-home-template section .text .inner article{
    width: 100%;
    max-width: 640px;
}
.page-template-home-template section .text.left .inner article{
    float: right;
}
.page-template-home-template section .text.right .inner article{
    float: left;
    padding-left: 92px;
}
.page-template-home-template section .text .inner article h2{
    margin-top: 0;
    margin-bottom: 0;
}
.page-template-home-template section .text .inner article h3{
    margin-top: 0.5rem;
}
 .page-template-home-template section .image .inner{
    width: 100%;
    max-width: 762px;
 }
 .page-template-home-template section .image.left .inner{
    float: right;
 }
.page-template-home-template section .image img {
    display: block;
    /* width: 762px; */
 }
.foto-sorriso {
    background-color: #f89f77;
}
.foto-sorriso .text h2 {
    color: white;
}
.segunda-sessao .text p{
    font-family: Light;
}
.segunda-sessao .btn-gs{
    margin-top: 5px;
    float: left;
}
.terceira-sessao {
    background-color: #d2795b;
}
.terceira-sessao .text {
    position: relative;
}
.terceira-sessao .text .inner {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 5%;
}

.terceira-sessao h2 {
    color: white;
}
.terceira-sessao h3 {
    font-family: Light;
}
/* *** /home *** */

main{
    font-size: 22px;
    font-family: sans-serif;
}

/*Edição Sessão Sis*/
.sis-page main .boxes {}
.sis-page main  .box {
    float: left;
}
.sis-page main  .box.left {
    width: 80%;
}
.sis-page main  .box.right {
    width: 20%;
}
.sis-page main  .boxes.reverse .box.left {
    width: 20%;
}
.sis-page main  .boxes.reverse  .box.right {
    width: 80%;
    padding-left: 2.5rem;
}
.sis-page main  .box.right h2 {
    color: #d2795b;
    font-weight: normal;
    font-size: 24px;
    display: block;
    width: 220px;
}
.sis-page .One {
    margin-top: 3rem;
}
.sis-page main  .boxes .box figure {
    width: 100%;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}
.sis-page main  .boxes .box img {
    border-radius: 20px 0px;
    margin-top: 5%;
}
.sis-page main  .boxes .box  .btn-gs {
    position: absolute;
    bottom: -10px;
    left: -20px;
    right: auto;
}
.sis-page main .boxes.reverse .box  .btn-gs {
    bottom: -10px;
    right: -20px;
    left: auto;
}
.Sis h1{
    font-family: Regular;
    font-size: 2.0em;
    color: rgb(210, 121, 91);
}

.Sis h2{
    font-family: Lightitalic;
    font-size: 22px;
    float: right;
}
.sis-page .Two {
    margin-top: 3rem;
}

/* Edição Loja */
.page-template-loja-template  {}
.page-template-loja-template  .servicos{
    padding: 5% 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.page-template-loja-template  .divider {
    height: 600px;
    position: relative;
    text-align: center;
    padding: 0 30px;
}
.page-template-loja-template  .divider::before {
    content: '';
    height: 600px;
    width: 1px;
    border-right: 1px solid #ddd;
    display: inline-block;
}
.produto{
    display: block;
    width: 100%;
}
.produto h1{
    font-family: Regular;
    font-size: 1.5em;
}
.produto h2{
    font-family: Regular;
    font-size: 1.0em;
}
.produto p{
    font-family: Light;
    font-size: 18px;
    padding-bottom: 3%;
}


.page-template-loja-template  .loja-texto{
    width: 100%;
    padding: 5% 0;
    padding-bottom: 0;
}
.loja-texto h1{
    font-family: Regular;
    font-size: 2.0em;
    color: #d2795b;
}
.loja-texto p{
    font-family: Light;
    font-size: 18px;
}
.btn-comprar{
    color: white;
    font-family: Semibold;
    font-size: 20px;
    text-decoration: none;
    background-color: #f89f77;
    padding: 2%;
    border-radius: 10px 0px 10px 0px;
}


/* Edição Contacto */
.page-template-contato {
    background-color: #ffb967;
}
.contacto{
    width: 100%;
    padding: 5% 0;
}
.contacto h1{
color: white;
}
.contacto h2{
    font-family: Regular;
    font-size: 20px;
    color: black;
}
.contacto h4{
    font-family: Light;
    font-size: 15px;
}
.contacto p{
    font-size: 15px;
    font-family: Light;
}  

.contacto {
    position: relative;
}
.contacto form {
    background: green;
    max-width: 40%;
}
.contacto form .form-field {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.contacto form .form-field label {
    float: left;
    display: inline-block;
    width: 20%;
    font-size: 1rem;
    font-family: Light;
    padding-top: 10px;
}
.contacto form .form-field .input {
    float: left;
    display: inline-block;
    width: 80%;
}
.contacto form .form-field input[type="text"],
.contacto form .form-field input[type="email"],
.contacto form .form-field textarea {
    width: 100%;
    border: 0;
    height: 35px;
    padding: 5px;
    color: #333;
    font-size: 1rem;
    outline: 0 none;
}
.contacto form .form-field textarea {
    height: 150px;
}
.contacto form .botão,
.contacto form .wpcf7-submit{
    color: white !important;
    background-color:#ff9f48;
    border-radius: 30% 0px 30% 0px;
    padding: 15px 18px;
    border: #ff9f48 solid 1px;
    width: auto !important;
    margin-left: 20%;
    font-size: 1.2rem;
    height: auto !important;
    border: 0 !important;
}
.contacto .field{
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ffb967;  
    width: 30%;
    margin-left: 10%;
}
.mensagem{
    padding: 50px;
    margin-bottom: 5px;
    border: 1px solid #292624;  
    margin-left:10%;
    
}

.contacto .g-letter-top {
    position: absolute;
    width: 50%;
    min-height: 480px;
    top: 0;
    right: 0;
    background: url('../img/ge.png') no-repeat 100% 0;
    background-size: 50%;
    opacity: 0.5;
    z-index: 2;
}

.page-template-contato footer .g-letter-pequeno,
.page-template-contato footer .g-letter {
    display:  none;
}

.page-template-contato .bg {
    background-color: #ffb967;
    max-width: 1524px;
    margin: 0 auto;
}

/* woocomerce */
.woocommerce a {
    color: #000;
}
/* pagina carrinho */

.woocommerce-cart .woocommerce #content table.cart td.actions .coupon {

}

/* pagina minha conta */

.page-template-my-account .woocommerce{
    min-height: 500px;
    padding-top: 130px;
    float: left;
}
.page-template-my-account .woocommerce .woocommerce-MyAccount-navigation{
    width: 30%;
    float: left;

}
.page-template-my-account .woocommerce .woocommerce-MyAccount-content{
    width: 70%;
    float: left;
}

.page-template-docs-template .heading{
    padding: 2rem 0;
    border-bottom: 1px solid #ddd;
}
.page-template-docs-template .heading h2{
    font-size: 3rem;
}
.page-template-docs-template .block{
    margin-bottom: 2rem;
    padding: 0.5rem;
}
.page-template-docs-template .block h3{
    font-size: 2rem;
}

.page-template-docs-template .highlight{
    background-color: #f4f4f4;
}