@media only screen and (max-width: 1200px) {
    }

@media only screen and (max-width: 990px) {
    header {
        height: 150px;
    }
    header .logo a {
        margin-left: -67px;
    }
    header .logo a img{
        max-width: 300px;
    }
    header .menu-lista {
        margin-top: 67px;
    }
    header .menu-lista li a, header .menu-lista li a,
    header .menu-lista li a, header .menu-lista li span {
        padding: 0 3px;
        font-size: 19px;
    }
    header .content-desktop .nav-social {
        margin-top: 20px;
    }

    header .social {
        width: 77px;
    }
    header .icons a {
        margin-right: 3px;
    }
    .loja-page .servicos{
        display: flex;
        width: 100%;
        
    }    
    .loja-page .servicos .produto{
        width: 100%;
        display: block;
        
    }    
    .loja-page .servicos .produto img{
        width: 100%;
        padding: 5%;
    }
}

@media only screen and (max-width: 770px) {
    .loja-page .servicos{
        display: block;
        width: 100%;
        padding: 5%;
    }    
    .loja-page .servicos .produto{
        width: 100%;
        padding: 20%;
        display: block;
    }
    
}

@media only screen and (max-width: 570px) {
    .hidden-desktop {
        display: block;
    }
    .hidden-mobile {
        display: none;
    }
    header {
        min-height: auto;
    }
    header .content-desktop {
        display: none;
    }
    header .content-mobile {
        display: block;
    }
    header .menu-action {
        display: flex;
    }
    .home-page section .block {
        width: 100%;
    }
    .g-letter {
        display: none;
    }
    .g-letter-pequeno{ 
        display: none;
    }
    .loja-page .servicos{
        display: block;
        width: 100%;
        padding: 5%;
    }    
    .loja-page .servicos .produto{
        width: 100%;
        padding: 10%;
        display: block;
        
    }
    .contact-page .field{
        width: 70%;
    }
    header .logo a {
        margin-left: 0;
    }

    .home-page section .text .inner article {
        margin-top: 25px;
        padding: 0 20px;
    }
    .home-page section .text .inner article h2 {
        font-size: 1.5rem;
    }
    .home-page section .text.right .inner article{
        padding-left: 20px;
    }
    .rodape .container {
        padding: 3% 20px;
    }
    .segunda-sessao .text p{
        font-size: 1rem;
    }
    .btn-gs {
        font-size: 15px;
        border-radius: 8px 0px 8px 0px;
    }
    .sis-page .boxes .box,
    .sis-page .boxes.reverse .box {
        width: 100% !important;
    }

    .sis-page main .boxes.reverse .box.right {
        padding-left: 0;
    }

}