@media only screen and (max-width: 1200px) {
    /* .menu { width:100%; } */
    .home-page section .block {
        width: 100%;
        }
    }

@media only screen and (max-width: 990px) {
        /* .menu { width:100%; } */
        .home-page section .block {
            width: 100%;
            }
        }

@media only screen and (max-width: 770px) {
    /* .menu { width:100%; } */
    .home-page section .block {
        width: 100%;
        }
    
}

@media only screen and (max-width: 570px) {
    .hidden-desktop {
        display: block;
    }
    .hidden-mobile {
        display: none;
    }
    .menu-action {
        display: flex;
    }
}