@media only screen and (max-device-width: 1200px) {
    /* .menu { width:100%; } */
    .home-page section .block {
        width: 100%;
        }
    }

@media only screen and (max-device-width: 990px) {
        /* .menu { width:100%; } */
        .home-page section .block {
            width: 100%;
            }
        }

@media only screen and (max-device-width: 770px) {
    /* .menu { width:100%; } */
    .home-page section .block {
        width: 100%;
        }
    
}

@media only screen and (max-device-width: 570px) {
                /* .menu { width:100%; } */
.home-page section .block {
width: 100%;
}
                
 }